<li class="{{ item.completed ? 'completed' : '' }}" if="view.is_visible(item)" root>
    <div class="view">
        <input class="{{ view.is_visible(item) ? 'toggle' : '' }}" type="checkbox" js="self.checked = !!item.completed" change="update-state:root">
        <label for="item-{{ item.id }}" class="title" dblclick="enter-edit-mode:root">{{ item.title }}</label>
        <button class="destroy" click="destroy:root"></button>
    </div>
    <input id="item-{{ item.id }}" class="edit" value="{{ item.title }}" keyup="edit:root" blur="edit:root">
</li>